// colors


$color-dark-primary: #304268;
$color-dark-secondary: #4a4a4a;
$color-light-text: #ffffff;
$color-medium-background: #dddddd;
$color-dark-background: $color-dark-primary;
$color-border-button: $color-dark-primary;
$color-shadow: rgba(0,0,0,0.2);
$color-pagination: #d8d8d8;
$color-pagination-selected: #304268;


// fonts


$font-family: 'Roboto Slab', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-color-dark-primary: $color-dark-primary;
$font-color-dark-secondary: $color-dark-secondary;
$font-size: 14px;
$font-size-title-sm: 23px;
$font-size-title-md: 28px;
$font-size-title-lg: 28px;


// line-height

$line-height: 20px;
$line-height-sm: 30px;
$line-height-md: 45px;
$line-height-lg: 45px;

// margins

$margin-contain-sm: 0 30px;
$margin-contain-md: 0 49px;
$margin-contain-lg: 0 135px;

// images

$pathImages: '../images/';
$width-bg: 960px;
$height-bg: 450px;
$width-card: 630px;
$height-card: 420px;
