// colors


$color-dark-primary: #304268;
$color-dark-secondary: #4a4a4a;
$color-light-text: #ffffff;
$color-medium-background: #dddddd;
$color-dark-background: $color-dark-primary;
$color-border-button: $color-dark-primary;
$color-pagination: #d8d8d8;
$color-pagination-selected: #304268;


// fonts

$font-family-Roboto: 'Roboto', serif;
$font-family-Slab: 'Roboto Slab', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-color-dark-primary: $color-dark-primary;
$font-color-dark-secondary: $color-dark-secondary;
$font-size: 14px;
$font-size-title-sm: 23px;
$font-size-title-md-lg: 28px;



// line-height

$line-height: 20px;
$line-height-sm: 30px;
$line-height-md-lg: 45px;


// margins contain

$margin-contain-sm: 0 30px;
$margin-contain-md: 0 49px;
$margin-contain-lg: 0 135px;

// images

$pathImages: '../images/';

// cards

$width: 210px;
$width-lg: 230px;
$height: 280px;

// image cards

$width-img: 210px;
$width-img-lg: 230px;
$height-img: 140px;
