* {
  padding: 0;
  margin: 0;
  font-family: $font-family-Roboto;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content {
  flex: 1 0 auto;
}
.contain {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @include margin-contain($margin-contain-sm);

  @media (min-width: 768px) and (max-width: 1279px) {
    @include margin-contain($margin-contain-md);
  }
  @media (min-width: 1280px) {
    @include margin-contain($margin-contain-lg);

  }
}
.main-title {
  margin-bottom: 15px;
  box-sizing: border-box;
  @include flexCentered();
  @include space($font-size-title-sm, $line-height-sm);
  font-family: $font-family-Slab;

  @media (min-width: 768px) and (max-width: 1279px) {
    @include space($font-size-title-md, $line-height-md);
  }
  @media (min-width: 1280px) {
    @include space($font-size-title-lg, $line-height-lg);
  }
}

.main-content {
  text-align: center;
  box-sizing: border-box;
  @include flexCentered();
  @include space($font-size, $line-height);
  font-weight: $font-weight-light;
  margin-bottom: 30px;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  @media (min-width: 1280px) {
    max-width: 490px;
  }

}
